body {
    position: relative;
    height: auto;
    font-family: sans-serif, Arial, serif;
    font-size: large;
    background-position-y: 1.5em;
    background-position-x: center;
    background-image: url("files/cloudy-fullmoon.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}

.page-container {
  position: relative;
  min-height: 90vh;
  max-width: 100wv;  
}

.main-content-body {
  min-height: calc(100vh - 6.4em);
  max-height: max-content;
  max-width: 100wv;
  width: auto;
  display: flex;
  flex-direction: column;
}

div {
    display: block;
    text-align: left;
    height: auto;    
}

a {
    color: inherit;
}

.body-title {
    float: left;
    margin-top: 1em;
    overflow: hidden;
    padding: .5em;
    width: auto;
    max-width: max-content;
    font-size: 2em;    
    color: white;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 1em;
    padding: 1em;
    background-color: rgba(250, 230, 255, .6);
    opacity: 1;
    border-radius: 1em;
    height: auto;
    max-width: 90vw;
    width: fit-content;
}

.content-title {
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 10px;
    width: auto;
    max-width: 80vw;
    font-size: 1.5em;
    color: black;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.content-text {
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 10px;
    font-size: 1em;
    color: black;
    width: auto;
    max-width: 80vw;
}

.content-image {
  float: left;
  margin: 0px 10px 0px 0px;
  width: max-content;
  max-width: 80vw;
  opacity: 1;   
}

.gallery {
    display: inline-grid;
    width: fit-content;
    margin: 10px;
    border: 2px solid #333;
    max-height: 600px;
    max-width: 80vw;
    background-color: #333;
    padding: .2em;
    opacity: 1;
    justify-items: center;
}

.gallery a {
    color: white;
}

.gallery:hover {
    border: 5px solid #423;
    background-color: #423;
    padding: .5em;
}

.gallery img {
    width: auto;
    max-height: 500px;
    max-width: 75vw;
    opacity: 1;
    justify-self: center;
}

.image-desc {
    padding: 5px;
    font-size: 1em;
    color: white;
    display: block;
    max-width: 80vw;
}



/* The navigation menu */
.navbar {
  width: 100vw;
  min-height: 2.5em;
  overflow: hidden;
  background-color: #333;
  margin-bottom: .5em;
  font-size: 1em;
}

.bar-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;  
}
.mobile-menu {
  display: none;
}

@media only screen and (max-width: 750px) {
  .bar-menu {
    display: none;
  } 
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2.5em;
    width: max-content;
  }
  .subnav-content {
    max-width: fit-content;
  }
  .subnav-content a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
  }
  
}

/* Navigation links */
.navbar a {
  font-size: 1em;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 1em; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a purple background color to navigation links on hover */
.navbar a:hover {
  height: 1.5em;
  background-color: purple;
  text-decoration: underline;
}

.navbar .subnav:hover .subnavbtn {
  background-color: purple;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  padding: 14px 16px;
  background-color: purple;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  color: white;
  text-decoration: none;
}

/* Add a background color on hover */
.subnav-content a:hover {
  background-color: #423;
  color: white;
  text-decoration: underline;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}


/* The footer */
#footer {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw;
  height: 2.5em;
  position: relative;
  bottom: 0;
  overflow: hidden;
  background-color: #333;
  color: white;
}

.footer-text {
  text-align: center;
  padding: 5px;
  font-size: 1em;
  font-style: italic;
  color: white;
}